__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*
logs
.vscode
local/
.gitmodules
wandb/
onelogger.log
onelogger.err
*.pt
*.txt
*.log
mixtral/EPLB/weight.py
env.sh
.gitignore
disk.sh
*.pdf
*.png
 
test/
# **/Predict/*
# **/Predict/*
# Qwen/convert/*
Qwen3-30B-A3B/*
# utils/*
**/download.py
**/convert.sh
**/mixtral/convert/*
**/test_time_BoolQ/*
**/EPLB/*